<!DOCTYPE html>
<html>
  <head>
    <title>Cms</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= yield %>

    <footer>
      <hr/>
      <p>
        Hosted by <%= link_to 'Hugo Peixoto', 'https://hugopeixoto.net' %>.
        Code available at <%= link_to "https://github.com/hugopeixoto/mddr-cms", "https://github.com/hugopeixoto/mddr-cms" %>
      </p>
    </footer>
  </body>
</html>
